.header {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 92px 50px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 135% */
}

.header-menu {
    display: flex;
    align-items: center;
    justify-self: left;
}

.header-menu-list {
    display: inline-flex;
    list-style: circle;
    column-gap: 23px;
}

.header-menu-item:first-of-type {
    list-style-type: none;
}

.header-menu-item-active .header-menu-link {
    text-decoration: none;
}

.header-contacts {
    justify-self: right;
}

.header-contacts-list {
    list-style: none;
}

.header-logo {
    width: 148px;
    height: 105px;
}

.cover {
    position: relative;
    background-image: url("../images/cover.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -2;
    padding: 165px 50px 62px 50px;
}

.overlay {
    position: absolute;
    display: flex;
    opacity: 0.6;
    background: #000;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cover-title {
    color: white;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 100px */
    letter-spacing: 30px;
    text-transform: uppercase;
    line-height: 125px;
}

.cover-title-line {
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.cover-footer {
    margin-top: 147px;
    display: flex;
    justify-content: center;
}

.cover-footer-line {
    display: flex;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    word-spacing: 250%;
    text-transform: uppercase;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid #FFF; 
    background-color: transparent;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.lots {
    position: relative;
    margin: 180px 50px 0px 50px;
}

.lots__heading {
    margin-left: 40px;
    margin-bottom: 27px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 25px;

}

.card-link {
    display: block;
    height: 450px;
    width: 430px;
}

.card_type_film {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFF;
    padding: 50px 40px;
    height: 100%;
    background-size: cover;
    position: relative;
    z-index: -2;
}

.card__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
}


.card__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.lots__look-more-link {
    display: inline-block;
    margin: 30px 0 0 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

